* {
	box-sizing: border-box;
	margin: 0;
	padding: 20px;
}
body {
	font-family: 'Raleway', sans-serif;
	background-color: #f8e2ef;
	text-align: center;
}

.showcase {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
}

nav ul {
	display: flex;
	justify-content: space-between;
	padding: 50px 50px 0px 50px;
	list-style: none;
}

nav li{
	flex: 1;
}
nav a {
	text-decoration: none;
	color: #368b9b;
	font-weight: 700;
	text-transform: uppercase;
}

.center {
	border: 1px solid #d45d84;
}
.center h1 {
	color: #d45d84;
	font-weight: 700;
	font-size: 50px;
	padding: 50px 0px 20px 0px;
}

.center p {
	color: #231f20;
	font-weight: 400;
	padding: 0 30px 30px 30px;
	font-size: 20px;
}

img {
	padding: 0px 0px 30px 0px;
	width: 180px;
	height: 200px;
}

footer {
	margin: 2em 5em 1em;
	font-weight: 400;
	font-style: italic;
}
